.nav {
  background: lightgrey;
}
.nav-items {
  margin: 0px auto;
  max-width: 36rem;
}

.nav-items > ul {
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 0;

}
ul li {
  padding: 15px;
  margin-bottom: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 700;
}

li > a {
  text-decoration: none;
  color: rebeccapurple
}

.secondary-nav{
  margin-bottom: 1rem;
}

.secondary-nav-items li {
<<<<<<< Updated upstream
    padding-right: 25px;
}
=======
  padding-right: 25px;
}

@media all and (max-width: 360px) {
  .secondary-nav-items li {
      padding-right: 22px;
  }
}
@media all and (max-width: 320px) {
  .secondary-nav-items li {
      padding-right: 17px;
  }
}
>>>>>>> Stashed changes
